@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Images Sample</h1>
        <p>
            Domonstration of upload and delete images into Cosmos DB database using ASP.Net Core MVC framework.
        </p>
        <p><p><a class="btn btn-primary" role="button" href="https://github.com/shifatullah/aspnetcore-mvc-sqlite-crud-sample">View Source Code on GitHub &raquo;</a></p></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Images</h2>
            <p>A simple object to store image information. It currently stores only name of the image.</p>
            <p><a class="btn btn-secondary" role="button" asp-controller="Image">View Details &raquo;</a></p>
        </div>
    </div>
</div>